header.carousel-inner .item
{
	height: 100vh;
}

.navbar-brand
{
	color: #fff;
	font-size: 40px;
	padding: 40px 15px;
	font-weight: 900;
}

.carousel-item
{
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 100vh;
}
.carousel-caption
{
	padding-bottom: 400px;
	font-size: poppins;
}

.carousel-caption h2
{
	font-size: 40px;
	text-transform: capitalize;
	font-weight: bold;
	color: black;
}

.carousel-caption p
{
	font-size: 30px;
	text-transform: uppercase;
	color: #cc0000;
}

.carousel-caption a
{
	background: #edbb00;
	padding: 15px 35px;
	display: inline-block;
	top: 0;
	color: #fff;
	text-transform: uppercase;
	border-radius: 25px;
}

.dropdown-item
{
	background: transparent;
}


